	

.content-text {
	margin-left: 10%;
	width: 30%;
	height: 20%;
}

.address-line-1 {
	color: #000099;
	font-weight: bold;
	font-size: 4em;
}

.address-line-2 {
	color: #000099;
	font-weight: normal;
	font-size: 2em;
}

.address-line-3,  .address-line-4{
	color: #000099;
	font-weight: normal;
	font-size: 2em;
}