
.content-text {
	padding:5%;
	text-align: center;
	color: #000099;
	font-weight: bold;
	font-size: 4em;
}

form {
	margin: auto 5% ;
	border:none;
	text-align: center; 
}

form input[type="submit"] {
	font-size: 70%;
	padding: 3% 1%;
	cursor:pointer;
	background-color: #66CCFF;
	font-weight: bold;
	color: #FFF;
	font-size: 4em;
}

